.card {
    width: 100%;
    height: 3rem;
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow:  5px 5px 8px #a1a1a1,
                -5px -5px 8px #ffffff;
    cursor: pointer;
}
input[type="radio"].input{
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    outline: none;
    z-index: 11;
}
input[type="radio"].input:checked{
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 8px #a1a1a1,
                -5px -5px 8px #ffffff;
    z-index: 0;
}
.label,
.labelPaymode{
    height: 100%;
    display: grid;
    align-items: center;
    position: relative;
    z-index: 10;
}
.label {
    grid-template-columns: 20% 55% 25%;
}
.labelPaymode {
    grid-template-columns: 20% 40% 40%;
}
.label h3 {
    text-transform: uppercase;
}
.imageContainer{
    position: relative;
    width: 4rem;
    height: 2rem;
}