.section {
    width: 100%;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width:768px) {
    .section {
        grid-template-columns: repeat(2, 1fr);
    }
}