.btn{
    display: inline-block;
    margin: .5rem .5rem;
    padding: .5rem 1rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}